**/.git
**/.gitignore
**/.gitmodules
**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/npm-debug.log
**/Dockerfile
**/.dockerignore
docker-compose.yml
docker-compose.build.yml
.devcontainer/
.github/
reviews/
keys/
logs/
*.md
LICENSE
