@page "/about"

<PageTitle>About - SynapseAdmin.NET</PageTitle>

<div class="container mt-4">
    <h1>About SynapseAdmin.NET</h1>
    <p class="lead">A modern administration tool for Matrix homeservers.</p>

    <div class="card mb-4">
        <div class="card-header bg-dark text-white">
            Project Information
        </div>
        <div class="card-body">
            <p><strong>Framework:</strong> .NET 10 Blazor Server</p>
            <p><strong>SDK:</strong> <a href="https://github.com/benjamin-aicheler/LibMatrix" target="_blank">LibMatrix</a></p>
            <p><strong>Utilities:</strong> <a href="https://github.com/benjamin-aicheler/ArcaneLibs" target="_blank">ArcaneLibs</a></p>
            <p><strong>Source Code:</strong> <a href="https://github.com/benjamin-aicheler/SynapseAdmin.NET" target="_blank">GitHub Repository</a></p>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-primary text-white">
            License & Compliance
        </div>
        <div class="card-body">
            <p>This program is free software: you can redistribute it and/or modify it under the terms of the <strong>GNU Affero General Public License</strong> as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.</p>
            
            <p>This project incorporates:</p>
            <ul>
                <li><strong>LibMatrix</strong>: Licensed under AGPL-3.0</li>
                <li><strong>ArcaneLibs</strong>: Licensed under AGPL-3.0</li>
            </ul>

            <hr />
            
            <h5>Remote Network Interaction</h5>
            <p><small>If you modify this Program, your modified version must prominently offer all users interacting with it remotely through a computer network an opportunity to receive the Corresponding Source of your version by providing access to the Corresponding Source from a network server at no charge.</small></p>
        </div>
    </div>
</div>
